<!DOCTYPE html>
<html lang="en">
	<head>
		<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<link rel="shortcut icon" href="{{url_for('static', filename='caesaright.png') }}" type="image/x-icon"/>
		<script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}">
		<script type=text/javascript>
		</script>
		<meta charset="UTF-8">
		<title>Caesar cipher</title>
	</head>
	<body>
		
		<div class="container-fluid">
			<h1 class="text-center">Caesar cipher</h1>
			<div class="row" id="crypForm">
				<div class="col-sm-5">
					<textarea  id="forCrypt" cols="30" rows="10" placeholder="Type the text here"></textarea>
				</div>
				<div class="col-sm-2 text-center">
					<p id="stepInfo">Enter the ROTN <span style="font-size: 10px;">(from 0 to 25)</span>:</p>
					<p><input type="text" id="step"></p>
					<p><a href="#" class="btn btn-default" id="crypt" >crypt</a></p>
					<p><a href="#" class="btn btn-default" id="decrypt">deCrypt</a></p>
					
				</div>
				<div class="col-sm-5">
					<textarea id="forDeCrypt" cols="30" rows="10" readonly></textarea>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div id="chart"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div id="caesar"></div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>